<section class='posts'>
  <%@posts.each_with_index do |post, i| %>
    <div class='post-header'>
      <p class='full-post'><strong><%= link_to post.title, user_post_path(@user, post) %></strong></p>
      <% if can? :destroy, post%>
        <button class='see-posts'><%= link_to "Delete", user_post_path(@user, post), data: { turbo_method: "delete" } %></button>
      <% end %>
    </div>
    <p><%= post.text%></p>
    <p class='num_of_posts'>Comments: <%=post.comments_counter%>, Likes: <%=post.likes_counter%></p>
    <div>
      <% post.post_comments.each do |comment| %>
        <div class='comment-action'>
        <p class='comment'><strong><%= comment.author.name%></strong>: <%= comment.text%></p>
        <% if can? :destroy, comment%>
          <button class=''><%= link_to "Delete", user_post_comment_path(@user, post, comment), data: { turbo_method: "delete" } %></button>
        <% end %>
      </div>
      <% end %>
      <div class='btns'>
        <button class='see-posts'><%= link_to "Add a comment", new_user_post_comment_path(@user, post) %></button>
        <%= button_to "Like", user_post_likes_path(@user, post), method: 'POST' %>
      </div>
    </div>
  <% end %>
</section>
