<section class='posts'>
  <%@posts.each_with_index do |post, i| %>
    <p class='full-post'><%= link_to "post #{i+1}", user_post_path(@user, post, :num => i+1) %></p>
    <p><%= post.text%></p>
    <p class='num_of_posts'>Comments: <%=post.comments_counter%>, Likes: <%=post.likes_counter%></p>
    <div>
      <% post.post_comments.each do |comment| %>
        <p class='comment'><strong><%= comment.author.name%></strong>: <%= comment.text.split(' ')[0] %></p>
      <% end %>
      <div class='btns'>
        <button class='see-posts'><%= link_to "Add a comment", new_user_post_comment_path(@user, post) %></button>
        <%= button_to "Like", user_post_likes_path(@user, post), method: 'POST' %></button>
      </div>
    </div>
  <% end %>
</section>