<section class='posts'>
  <div class='post'>
    <p><%= @post.title%> by <%= "#{@user.name}" %></p>
    <p>Comments: <%=@post.comments_counter%>, Likes: <%=@post.likes_counter%></p>
  </div>
  <p><%= @post.text%></p>
  <div>
    <% @comment.each do |comment| %>
      <div class='comment-action'>
      <p class='comment'><strong><%= comment.author.name%></strong>: <%= comment.text%></p>
      <% if can? :destroy, comment%>
        <button class=''><%= link_to "Delete", user_post_comment_path(@user, @post, comment), data: { turbo_method: "delete" } %></button>
      <% end %>
    </div>
    <% end %>
  </div>
</section>
